/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; 
  padding: 0; 
  border: 0;
  outline: none;
  color: #faf0ca;
}

html{
  background-color: #0d3b66;
}

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

.login{
  color: #faf0ca;
  margin: 0 auto;
  width: fit-content;
}

.box{
  margin: 0 auto;
  width: fit-content;
  border: 1px solid #faf0ca;
  border-radius: 5px;
  padding: 20px;
}

label{
  color: #faf0ca;
  font-size: 2em;
}

.control{
  display: grid;
}

button{
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.submitter{
  width: 7em;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header{
  color: #faf0ca;
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  padding: 10px;
  font-weight: 500;
  transition: all 0.4s ease;
  text-decoration: none;
  font-size: 20px;
  height: fit-content;
  display: inline-flex;
  margin: 0 20px;
}

.nav-brand{
  border: 2px solid #faf0ca;
  padding: 10px;
  border-radius: 5px;
}

.info{
  margin-top: 20px;
  flex-grow: .5;
  border: 4px solid #faf0ca;
  padding: 20px;
  border-radius: 5px;
}

.section{
  padding: 25px;
  display: flex;
  justify-content: center;
}

.top-row, .second-row{
  display: flex;
}

.control.name, .control.phone{
  flex-grow: .5;
}

.control.name{
  margin-right: 10px;
}

.second-row .control{
  margin-top: 30px;
  flex-grow: 33.3;
}

.second-row .control:not(:last-of-type){
  margin-right: 20px;
}

input{
  height: 2em;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px 5px 0 0 ;
  color: black;
  border-bottom: 3px solid gray;
  transition: border-bottom .5s ease;
}

input:focus{
  border-bottom: 3px solid rgb(67, 2, 245);
}

.mui-Bottom{
  border-top: 2px solid gray;
  border-radius: 0 0 5px 5px;
}

.sub-section{
  flex-grow: .5;
}